.mainHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #00adb5;
}

.nav__wrapper {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
