.petItem__cardWrapper {
  margin: 20px;
}

.petItem__card {
  width: 250px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #153352;
  padding-bottom: 10px;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
}

.petItem__card img {
  width: 100%;
  margin-top: 0;
  margin-bottom: 5px;
}

.petItem__card > * {
  margin: 2px 0;
}

.petItem__card h3 {
  color: #00acb5;
  font-weight: 600;
  font-size: 25px;
}

.petItem__card h4 {
  color: #ff5622c0;
  font-size: 18x;
  font-weight: lighter;
}

.petItem__card h3,
h4 {
  text-transform: capitalize;
  margin: 5px 0;
}

.petItem__card p {
  font-size: 17px;
  margin-top: 20px;
}

.petItem__card span {
  font-weight: normal;
}
.petItem_image {
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.petItem__card_image {
  width: 100%;
  height: 250px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pet__description {
  padding: 0 50px;
  text-align: justify;
  margin: 20px 0;
}
