body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  background-color: #eeeeee;
}

body * {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}
